
.downloadlink {font-family: 'Rajdhani', sans-serif;}

.button {font-family: 'Rajdhani', sans-serif;}

.downloadlink2 {font-family: 'Rajdhani', sans-serif;}

.text {font-family: 'Rajdhani', sans-serif;}

 
.image {
  transition: 400ms;
  background-color: rgb(0, 23, 85);
  border: 3px solid #010ec5;
  border-radius: 6px;
  color: rgb(255, 255, 255);
  padding: 5px 5px;
  text-align: center;
  text-decoration: rgb(30, 30, 30);
  display: inline-block;
  font-size: 20px;
  margin: 0px 6px;
  cursor: pointer;
}

.image:hover {
  transition: 300ms;
  background-color: rgb(47, 99, 197);
  border-color: rgb(47, 99, 197);
}

.downloadlink {
  transition: 400ms;
  background-color: rgb(0, 23, 85);
  border: 2px solid #d0d0d0;
  border-radius: 4px;
  color: rgb(255, 244, 230);
  padding: 5px 5px;
  text-align: center;
  text-decoration: rgb(30, 30, 30);
  display: inline-block;
  font-size: 20px;
  margin: 0px 6px;
  cursor: pointer;
}
.downloadlink:hover {
  transition: 300ms;
  background-color: darkcyan;
}
 
 .button {
    transition: 400ms;
    background-color: rgb(30, 30, 30);
    border: 2px solid #d0d0d0;
    border-radius: 4px;
    color: rgb(255, 244, 230);
    padding: 5px 5px;
    text-align: center;
    text-decoration: rgb(30, 30, 30);
    display: inline-block;
    font-size: 20px;
    margin: 0px 6px;
    cursor: pointer;
  }

  .button:hover {
    transition: 300ms;
    background-color: rgb(60, 60, 60);
  }

  .downloadlink2 {
    transition: 400ms;
    background-color: rgb(85, 0, 0);
    border: 2px solid #d0d0d0;
    border-radius: 4px;
    color: rgb(255, 244, 230);
    padding: 5px 5px;
    text-align: center;
    text-decoration: rgb(30, 30, 30);
    display: inline-block;
    font-size: 20px;
    margin: 0px 6px;
    cursor: pointer;
  }
  .downloadlink2:hover {
    transition: 300ms;
    background-color: rgb(139, 0, 0);
  }